html {
    -webkit-tap-highlight-color: transparent;
}
.header {
    text-align: center;
    margin: 20px;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.form {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    row-gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.button {
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px 18px;
    border: none;
    font-weight: bold;
    background-color: #DDDDDD;
}
.inputMeaning {
    width: 200px;
    border-radius: 5px;
    font-size: 17px;
    border: 2px solid #DDDDDD;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px 18px;
}

.colorPallete {
    display: flex;
}