.card {
    min-width: 250px;
    height: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: center;
    vertical-align: middle;
    min-height: 90%; 
    display:table;   
    
}
.vocab {
    display:table-cell; 
    vertical-align:middle;
    max-width: 250px;
    position: relative;
}

.meaningParent {
    height: 50%;
}

.flashCardContainer {
    -webkit-tap-highlight-color: transparent;
}

section {
    padding: 10px;
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.meaning {
    text-transform: capitalize;
}

.speakerBtn {
    background: transparent;
    border: 1px solid transparent;
}

.wordContainer {
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    text-transform: capitalize;
    align-items: baseline;
    margin-bottom: 16px;
    margin-top: 4rem;
}

.wordContainer > h1 {
    cursor: pointer;
}

.checkbox > input {
    cursor: pointer;
}

.speaker {
    width: 20px;
    cursor: pointer;
    height: max-content;
}

.toggle  {
    position: absolute !important;
    top: 1.2rem;
    right: 6rem;
}